[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = preitysinghrawat
	email = 100369745+preitysinghrawat@users.noreply.github.com
